@import '../../index.scss';
// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat+Alternates&family=Roboto:wght@300&display=swap');
.takeToB{
  position: fixed;
  bottom: 90px;
  border: none;
  border-radius: 50%;
  width:50px;
  height: 50px;
  right: 20px;
  background-color: rgb(77, 193, 232);
  z-index: 999;
  transition: bottom 0.8s ease-in-out;
}

.takeToB:hover{
  background-color: #e65f78;
}
  /* styles.css */
@keyframes scrollAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.move {
  animation-name: scrollAnimation;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out; 
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.headFont {
    font-weight: 800;
    font-size: 80px;
    color: #e65f78;
}
.colorBox {
    position: fixed;
    top: 150px;
    left:-125px;
    display: flex;
    z-index: 999;
    transition: left 0.8s ease-in-out;
}
.colorBox i {
    padding: 7px;
    height: fit-content;
    height: 45px;
    font-size: 25px;
    background-color: #e65f78;
    color: black;
}

.colorOption {
    padding: 5px;
    height: 45px;
    border: 3px solid black;
}

.item{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    display: inline-block;
}

.item1{
    background-color: goldenrod !important;
}
.item2{
    background-color: yellowgreen !important;
}
.item3{
    background-color: rgb(0, 199, 249) !important;
}

.colorBox:hover {
    left:0;
}
// ////// home section
.homeSec {
  background-image: 
    linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.4), rgba(135,206,250,.8)), 
    url(../../../public/1.jpg);

  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: whitesmoke;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2{
    font-family: "Dancing Script", cursive;
}
.homeSec h2{
  color:white !important;
}
.btn1 {
    font-size: 20px !important;
    background-color:#e65f78;
}
.btn2 {
    font-size: 20px !important;
    border: 2px solid #e65f78 !important;
    color:whitesmoke;
}
.btn2:hover{
    background-color: #e65f78 !important;
    color:black !important;
}
.btn1:hover{
    background-color:whitesmoke !important;
}

.countItem h3{
    color: #343434;
    font-weight: 900;
    font-family: Montserrat, sans-serif;
    }
.countItem .fa{
    font-size:1.9rem !important;
    color: #343434;
}
// ////////// statistics
.statistic {
    background-color: #ffffff;
}
.constTitle h3{
    color:#e65f78;
    font-size: 2.5rem;
    font-weight: 800;
    position: relative;
    display: inline-block;
    z-index: 9;
}
.constTitle h3:after {
    content: '';
    width: 100%;
    height: 30px;
    background-image: url(./../../../public/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: -1;
}

.countItem h3{
    color: #343434;
    font-weight: 900;
    font-family: Montserrat, sans-serif;
    }
i{
        font-size:1.9rem !important;
        color: #343434;
    }

i:hover{
    color:#e65f78;
}
// //////////////Dev section
.developer{
    background-color: #f7f7f7;
}
.flipcard {
    margin: 10px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    border-radius: 5px;
  }
  
  .flipcardfront,
  .flipcardback {
    width: 330px;
    min-height: 300px;
    height: auto;
    background-color: #000000;
    background-image:   url('./Hajar.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    border-radius: 15px;
  }
  
  .flipcard:nth-of-type(2) .flipcardfront,
  .flipcard:nth-of-type(2) .flipcardback {
    background-image: url('./Aya.jpg');
  }
  
  .flipcard:nth-of-type(3) .flipcardfront,
  .flipcard:nth-of-type(3) .flipcardback {
    // background-image:  url(https://wallpapercave.com/wp/wp3842313.jpg);
    background-image:  url('sabah.jpg');
  }
  
  .flipcardfront {
    transform: rotateY(0deg);
  }
  
  .flipcardback {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
  }
  
  .flipcardfront::after,
  .flipcardback::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #0a0a0a;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
  
  .flipcardfront .inner,
  .flipcardback .inner {
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    z-index: 2;
  }
  
  .inner .icon {
    width: 80px;
    margin-bottom: 20px;
  }
  
  .inner h3 {
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
  }
  
  .inner p {
    color: #ffffff;
    font-size: 16px;
    line-height: 28px;
  }
  
  .flipcard:hover .flipcardfront {
    transform: rotateY(-180deg);
  }
  
  .flipcard:hover .flipcardback {
    transform: rotateY(0deg);
  }
  